@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Fira+Code:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@import 'tailwindcss';

@theme {
  /* Primary */
  --color-primary-gradient-from: hsl(249, 99%, 64%);
  --color-primary-gradient-to: hsl(278, 94%, 30%);
  --color-primary-red-400: hsl(0, 100%, 66%);

  /* Neutral */
  --color-neutral-white: hsl(0, 100%, 100%);
  --color-neutral-gray-200: hsl(270, 3%, 87%);
  --color-neutral-gray-400: hsl(212, 12%, 71%);
  --color-neutral-purple-950: hsl(278, 68%, 11%);

  --font-family-sans: 'Space Grotesk', sans-serif;
}
